.container {
    border-radius: 10px;
    display: inline-flex;
    border-style: ridge;
    border-width: 7px;
    display: flex;
    border-color: gray;
    max-height: 75vh;
    margin-top: 3.5vh;
    margin-bottom: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chat_container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: clamp(200px, 50%, 400px);
    background-color: lightslategray;
}

.line {
    margin: 0;
}

@media (min-width: 330px) and (max-width: 600px) {
    .container {
        width: 100%;
        overflow-x: auto;
    }
}