.header{
    margin: 0px;
}

.chatBox{
  height: 525px;
  overflow-y: auto;
}

.header {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: x-large;
  font-weight: bold;
}

.line {
  color: #19718d;
  background: #19718d;
  height: 1px;
  margin: 0;
}

.container{
    background: white;
    flex-grow: 2;
    flex-direction: column;
    display: flex;
}

.input {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sent {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 1em;
  /* border-style: solid; */
  justify-content: flex-end; 
}

.received {
  color: green;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1em;
  display: flex;
  justify-content: flex-start; 
}

.textSent {
  background: rgb(28, 137, 201);
  color: white;
  border-style: solid;
  border-radius: 15px 15px 2px 15px;
  padding: 10px;
  max-width: 300px;
  height: auto;
}

.textReceived {
  background: rgb(204, 204, 204);
  color: black;
  border-radius: 15px 15px 15px 2px;
  padding: 10px; 
}

.messagesContainer {
  overflow-y: auto;
}