.connectionInfo {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    max-width: 20vw;
    padding-left: 5px;
    background: white;
    transition: 0.3s;
}

.connectionInfo:hover {
    background: #F4F4F4;
}

.contacts {
    background-color: whitesmoke;
    height: 100%;
    overflow-y: auto;
}

.line {
    color: #19718d;
    background: #19718d;
    height: 1px;
    margin: 0;
}

.header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
}

.selectHeader {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
    padding-left: 20px;
}

.connectionName {
    font-family: sans-serif;
    font-size: 1.5em;
    padding-left: 30px;
}

.contactImage {
    width: 20px;
}

@media (min-width: 330px) and (max-width: 600px) {
    .connectionName {
        font-size: 1em;
        padding-left: 10px;
    }
    .header {
        font-size: 1em;
        padding-left: 10px;
    }
    .connectionInfo {
        max-width: none;
        padding-right: 5px;
        padding-left: 0;
    }
    .MuiAvatar-root {
        width: 50px;
        height: 50px;
    }
    .connectionInfo:hover {
        background: #F4F4F4;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .connectionName {
        font-size: 2em;
        padding-left: 10px;
    }
    .header {
        font-size: 2em;
        padding-left: 10px;
    }
    .connectionInfo {
        max-width: none;
        padding-right: 5px;
        padding-left: 0;
    }
    .MuiAvatar-root {
        width: 50px;
        height: 50px;
    }
    .connectionInfo:hover {
        background: #F4F4F4;
    }
}