.EditUserProfileContainer {
  /* display: flex;
  justify-content: center; */

}

.EditUserForm-Container {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row
}

.userProfileForm {
  margin: 75px;
  display: flex;
  flex-direction: column;
  background: rgb(224, 224, 224);
  border-radius: 70px;
}

.EditUserForm-Container label {
  font-style: normal;
  color: black;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.EditUserForm-Container input,
.EditUserForm-Container textarea {
  box-sizing:border-box;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  margin: 5px;
}

.workexps {
  display: flex;
  padding-inline-start: 0;
}

.userProfileForm .submit-button button {
  background-color: 0077ff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  width: 75%;
  margin: 15px;

}

.userProfileForm .submit-button,
.userProfileForm .edit-profile-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.userProfileForm .list-button {
  float: right;
  box-sizing:border-box; 
}

.userProfileForm button {
  padding: 0.5rem 1rem;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}