#editPostcontainer {
  min-height: 50vh;
}

.InputJobDescription {
  background: rgba(255, 254, 254, 0.6);
  border: 1px solid #2d3d77;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  text-align: center;
}
.InputJobDescription ::placeholder {
  padding-top: 80px;
  line-height: 40px;
}

.WrapperEditPost {
  justify-content: center;
  top: 70%;
  margin: auto;
  text-align: center;
  position: relative;
  width: auto;
  border-radius: 70px;
  min-height: 90vh;
  margin-bottom: 60px;
}

.Title {
  font-style: normal;
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 72px;
}

.PlaceholderEditPost {
  font-style: normal;
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}

.LinkEditPost {
  font-style: normal;
  color: hsl(0, 0%, 0%);
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-right: 10%;
}

.Input {
  background: rgba(255, 254, 254, 0.6);
  border: 1px solid #2d3d77;
  border-radius: 10px;
  width: 400px;
  height: 30px;
  text-align: center;
}

.SaveButton {
  box-sizing: border-box;
  background: #cfb79d;
  border: 1px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  width: 150px;
  height: 30px;
}

.selection {
  margin-left: 50%;
  margin-right: 50%;
  justify-content: center;
  align-items: center;
}

#category {
  margin-right: 150px;
  padding: 5px;
  width: max-content;
  height: max-content;
}

#work_type {
  margin-left: 150px;
  padding: 5px;
  width: max-content;
  height: max-content;
}

/* Responsive to Iphone 6 and above */
@media (min-width: 330px) and (max-width: 600px) {
  .WrapperEditPost {
    position: relative;
    margin: auto;
    text-align: center;
    height: auto;
    width: 330px;
    top: 65%;
  }

  #editPostcontainer {
    min-height: 15vh;
  }

  .FormEditPost {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: auto;
  }

  .Input {
    width: 270px;
  }

  .SaveButton {
    margin-top: 10%;
    margin-left: auto;
  }
  .Title {
    font-size: 22px;
  }
}
