.JAPContainer{
    margin-top: 50px;
    text-align: center;
    border-radius: 10%;
    width: 95%;
    height: 500px;
    margin:auto;
    margin-top: 30px;
    padding: auto;
    border: 2px #19718d solid;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;

}
.JAPContainer .jobDetails {
    border: 1px white solid;
    width: 500px;
    border-radius: 10px;
    height: 80%;
    margin: 50px;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;

}

.JAPContainer .jobApplicationForm {
    border-radius: 10px;
    height: 80%;
    margin: 50px;
    
}
.JAPContainer button{
    width: 50px;
    height: 10%;
    margin:25px;
    margin-right:0px
}


.JAPContainer .uploadButton {

    border-radius: 10px;
    background-color: #19718d;
    font-size: 14px;
    margin: 15px;
}

.JAPContainer .uploadButton:hover {

    border-radius: 10px;
    background-color: #19718d;
    font-size: 14px;
    margin: 15px;
}

.JAPContainer .sendApplicationButton {

    border-radius: 10px;
    background-color: #19718d;
    font-size: 14px;
    margin: 15px;
}
.JAPContainer .sendApplicationButton:hover {

    border-radius: 10px;
    background-color: #19718d;
    font-size: 14px;
    margin: 15px;
}

.JAPContainer .textbox {
    margin: 35px;
}


@media all and (max-width:800px) {
    .JAPContainer{
        width: auto;
    }
    
    
}

@media all and (max-width:445px) {
    .JAPContainer{
        width: auto;
    }
    .JAPContainer .Textbox{
        margin: 15px;
    }
    
}