.JAPContainer{
    margin-top: 50px;
    /* border:5px #19718d solid; */
    text-align: center;
    border-radius: 5%;
    width: 800px;
    height: 500px;
    margin:auto;
    padding: auto;
    
    
}


.JAPContainer button{
    color: white;
    border: #19718d;
    background-color: #19718d;
    width: 150px;
    height: 50px;
    border-radius: 10%;


}

.JAPContainer button:hover{
    color: black;
    border: #19718d;
    background-color: #19718d;
    width: 150px;
    height: 50px;
    border-radius: 10%;


}

.JAPContainer .Textbox {
    margin: 35px;
    border: 2px grey solid;
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
    height: 25px;
}

.JAPContainer .cv {
    margin: 10px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    height: 25px;
    background-color: lightgrey;
    
}

.JAPContainer .cv::file-selector-button {
    margin: 10px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    display: none;
    background-color: lightgrey;

    
}


.JAPContainer input::placeholder {
    
    color: black;
    height: 25px;
}


@media all and (max-width:800px) {
    .JAPContainer{
        width: auto;
    }
    
    
}

@media all and (max-width:445px) {
    .JAPContainer{
        width: auto;
    }
    .JAPContainer .Textbox{
        margin: 15px;
    }
    
}