
.Container{

    display: flex;
    


}

.jobPosts{
    border: 2px #19718d solid;
    width: 50%;
    min-height: 525px;
    height: auto;
    border-radius: 15px;
    margin: 20px;
    display: inline-block;

    
}



.jobPosts .heading{
    background-color: #19718d;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    text-transform: uppercase;

}



.jobPosts .jobPost{

    border: 2px grey solid;
    margin: 5px;
    display: block;
    width: 80%;
    height: auto;
}

.jobPosts .jobPost button{
    background-color: #19718d;
    display: block;
    width: 100px;
    border-radius: 20px;
    margin: 15px;
    text-decoration: none;
}

.preferences {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    text-align: center;
    width: 30%;
    height: 525px;
    
    margin: 20px;
    margin-left: 125px;
    border-radius: 20px;


}

.preferences button{
    background-color: #19718d;
    display: block;
    width: 100px;
    border-radius: 20px;
    margin: 15px;

}

.preferences .preference {
    border: 1px white solid;
    border-radius: 20px;
    background-color: white;
    color: black;
    width: 200px;
    height: 50px;
    margin: 15px;
}


@media all and (max-width:690px) {
    
    .Container{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jobPosts{
        width: 400px;
    }
    .preferences{
        display: flex;
        width: 300px;
        margin-right: 125px;
        height: 350px;
    }

    
}
@media all and (max-width:280px) {

    .Container{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jobPosts{
        width: 270px;
}
    .preferences{
        display: flex;
        width: 300px;
        margin-right: 125px;
        height: 350px;
    }
}