.Jobpostingform {
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin-bottom: 80px;
}
.jobAd {
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Jobpostingform .checkbox {
  margin-left: 8%;
}

.titleofpage {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.description {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.salary {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.company {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.category {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
}

.work_type {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
}

.location {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.jobLink {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  margin-left: 0%;
}

.button {
  color: #ffffff;
  background-color: #19718d;
  display: flex;
  justify-content: center;
  width: 5cm;
  margin: auto;
  border-radius: 10px;
}

#job_title {
  width: 10cm;
  max-width: none;
}

#job_description {
  width: 10cm;
  max-width: none;
  height: 10cm;
  max-height: none;
}

#salary {
  width: 10cm;
  max-width: none;
}

#category {
  width: 10cm;
  max-width: none;
}

#location {
  width: 10cm;
  max-width: none;
}

#job_link {
  width: 10cm;
  max-width: none;
}

#company_name {
  width: 10cm;
  max-width: none;
}

#work_type {
  width: 10cm;
  max-width: none;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#category {
  padding: 5px;
  width: max-content;
  height: max-content;
}

#work_type {
  padding: 5px;
  width: max-content;
  height: max-content;
}
