.Jobpostingform {
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  scroll-behavior: smooth;

  margin-bottom: 80px;
}

.jobAd {
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 960px) {
  select {
    display: inline-block;
  }
}

.titleofpage {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.thirdparty {
  font-size: small;
  display: flex;
  justify-content: center;
}

.title,
.description,
.salary,
.company,
.category,
.work_type,
.location,
.jobLink {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}

.button {
  color: #ffffff;
  background-color: #19718d;
  display: flex;
  justify-content: center;
  width: 5cm;
  margin: auto;
  border-radius: 10px;
}

#job_title,
#job_description,
#salary,
#location,
#job_link,
#company_name {
  max-width: 550px;
}

#job_description {
  height: 10cm;
  max-height: none;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
}

#category,
#work_type {
  padding: 5px;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  #job_title,
  #job_description,
  #salary,
  #location,
  #job_link,
  #company_name {
    width: 100%;
    max-width: none;
  }
}

/* Media query for laptops and larger devices */
@media screen and (min-width: 768px) {
  #job_title,
  #job_description,
  #salary,
  #location,
  #job_link,
  #company_name {
    width: 500px;
  }
}
