.Jobpostingform {
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.description {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.salary {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.contract {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.other {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  margin-left: 0%;
  margin-right: -18%;
}

.button {
  color: #ffffff;
  background-color: #19718d;
  display: flex;
  justify-content: center;
  width: 5cm;
  margin-left: 3cm;
}

#job_title {
  width: 10cm;
  max-width: none;
}

#job_description {
  width: 10cm;
  max-width: none;
  height: 10cm;
  max-height: none;
}

#salary {
  width: 10cm;
  max-width: none;
}

#contract_type {
  width: 10cm;
  max-width: none;
}

#other {
  width: 10cm;
  max-width: none;
}
