.WebLogo {
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  line-height: 78px;
  color: #ffffff;
}

.Icon {
  background-color: transparent;
  border: none;
}

.navbar {
  border: 1px solid #000000;
}

.searchArea {
  display: flex;
  justify-content: center;
  width: 35%;
}

.searchInput {
  width: 300px;
  height: 40px;
  background: #edf1f7;
  border-radius: 4px;
}

.IconButton {
  background-color: transparent;
  border: none;
  margin: 5px;
}

.userButtons {
  display: flex;
}

.userIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parentUserIconContainer {
  margin-right: 20px;
}
/*To be changed later*/
@media (min-width: 330px) and (max-width: 600px) {
  .searchArea {
    display: none;
  }

  .userButtons {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .searchArea {
    display: none;
  }

  .userButtons {
    display: none;
  }
}

/*To be changed later*/
@media (min-device-width: 768px) and (max-device-width: 1023px) {
  .searchArea {
    display: none;
  }

  .userButtons {
    display: none;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1339px) {
  .searchInput {
    width: 200px;
  }

  .WebLogo {
    font-size: 15px;

  }

  .parentUserIconContainer {
    margin-right: -5px;
  }
}

@media (min-device-width: 1340px) and (max-device-width: 1400px) {
  .parentUserIconContainer {
    margin-right: 5px;
  }
}
