.userProfileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Inter", sans-serif;
}
.userContainerProfile {
  display: flex;
  margin: 20px;
  font-family: "Inter", sans-serif;
}

.userInformation {
  min-height: auto;
  width: 700px;
  border-radius: 15px;
  margin: 20px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userJobInformation {
  min-height: 130px;
  width: 700px;
  border-radius: 15px;
  margin: 20px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userKnowledgeInformation {
  min-height: 100px;
  width: 700px;
  border-radius: 15px;
  margin: 20px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userProfilePic {
  display: inline-block;
}

.userAboutSection {
  display: inline-block;
  margin: 20px;
  width: 100%;
  height: auto;
}

.userName {
  font-size: 20px;
  font-weight: bold;
}

.companyPic {
  width: 60px;
  height: 60px;
}

.jobInfo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.right {
  height: auto;
  min-width: 350px;
  border-radius: 15px;

  margin-bottom: auto;
  margin-top: 20px;
  width: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connectionsInfo {
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.connectionName {
  margin-left: 20px;
  font-size: 24px;
}

.subTitle {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
}

.userBio {
  margin-left: 20px;
}

.elementList {
  display: inline;
}

.element {
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
}

.connectButton {
  background-color: #19718d;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}

.connectButtonSection {
  text-align: center;
}

.body {
  background-color: #f5f5f5;
}

/*Responsive for iphone 6 and up*/
@media (min-width: 330px) and (max-width: 600px) {
  .userProfileContainer {
    display: block;
  }

  .userAboutSection {
    margin: auto;
    margin-bottom: 10px;
  }

  .right {
    width: auto;
    margin: 10px;
  }

  .connectionName {
    margin-left: 40px;
    font-size: 20px;
  }

  .userInformation {
    min-height: auto;
    width: auto;
    margin: 10px;
  }

  .userJobInformation {
    min-height: 130px;
    width: auto;
  }

  .userKnowledgeInformation {
    min-height: 100px;
    width: auto;
  }

  .userProfilePic {
    width: 90px;
    height: 90px;
  }

  .connectButton {
    width: 150px;
    height: 35px;
  }
}

@media (min-device-width: 600px) and (max-device-width: 768px) {
  .userProfileContainer {
    display: block;
  }

  .right {
    width: auto;
    margin: 20px;
  }

  .userInformation {
    min-height: auto;
    width: auto;
  }

  .userJobInformation {
    min-height: 130px;
    width: auto;
  }

  .userKnowledgeInformation {
    min-height: 100px;
    width: auto;
  }
}

/*Media queries for ipad*/
@media (min-device-width: 768px) and (max-device-width: 1023px) {
  .userProfileContainer {
    display: block;
  }

  .right {
    width: auto;
    margin: 20px;
  }

  .userInformation {
    min-height: auto;
    width: auto;
  }

  .userJobInformation {
    min-height: 130px;
    width: auto;
  }

  .userKnowledgeInformation {
    min-height: 100px;
    width: auto;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1110px) {
  .connectionName {
    margin-left: 10px;
    font-size: 20px;
  }

  .right {
    min-width: auto;
  }

  .left {
    margin-left: auto;
    width: 700px;
  }

  .userInformation {
    min-height: auto;
  }
}
