.Wrapper {
  position: absolute;
  top: 55%;
  left: 51%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 500px;
  background: #19718d;
  border-radius: 70px;
  font-family: "Inter", sans-serif;
}

.LoginMessage {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 72px;
}

.Placeholder {
  font-style: normal;
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
}

.Link {
  font-style: normal;
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-right: 10%;
}

.LoginInput {
  background: rgba(255, 254, 254, 0.6);
  border: 1px solid #2d3d77;
  border-radius: 10px;
  width: 420px;
  height: 30px;
}

.LoginButton {
  box-sizing: border-box;
  background: #cfb79d;
  border: 1px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  width: 150px;
  height: 30px;
  text-align: center;
  margin-left: 30%;
}

.Form {
  margin-left: 20px;
}
/* Responsive to Iphone 6 and above */
@media (min-width: 330px) and (max-width: 600px) {
  .Wrapper {
    height: 420px;
    width: 350px;
  }

  .LoginInput {
    width: 280px;
  }

  .LoginButton {
    margin-left: 25%;
  }
  .Title {
    font-size: 22px;
  }
}
