.userTimelineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.postTextField {
  width: 650px;
  height: 60px;
  border-radius: 20px;
  background: #f4f2f2;
}

.userInformationTimeline {
  min-height: 70px;
  width: 700px;
  border-radius: 15px;
  margin: 20px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userPostsTimeline {
  min-height: 100px;
  width: 700px;
  border-radius: 15px;
  margin: 20px;
  margin-bottom: 50px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userNameTimeline {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: auto;
}

.connectionsLinkTimeline {
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
}

.rightTimeline {
  height: auto;
  min-width: 350px;
  border-radius: 15px;

  margin-bottom: auto;
  margin-top: 20px;
  width: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leftTimeline {
  height: auto;
  min-height: 200px;
  min-width: 220px;
  border-radius: 15px;
  margin-bottom: auto;
  margin-top: 20px;
  width: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.postText {
  margin: auto;
  margin-left: 20px;
  margin-top: 5px;
}

.subTitleTimeline {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  font-weight: bold;
}

.body {
  background-color: #f5f5f5;
}

.userContainerTimeline {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Responsive for iphone 6 and up*/
@media (min-width: 330px) and (max-width: 600px) {
  .userTimelineContainer {
    display: block;
  }

  .middleTimeline {
    margin: auto;
  }

  .postTextField {
    width: 85%;
    height: 50px;
  }

  .rightTimeline {
    width: auto;
    margin: 10px;
  }

  .connectionNameTimeline {
    margin-left: 40px;
    font-size: 26px;
  }

  .userPostsTimeline {
    width: auto;
  }
  .userInformationTimeline {
    min-height: 60px;
    width: auto;
    margin: 10px;
  }
}

/*Media queries for ipad*/
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .userTimelineContainer {
    display: block;
  }

  .rightTimeline {
    width: auto;
    margin: 20px;
  }

  .postTextField {
    width: 92%;
    height: 50px;
  }

  .userPostsTimeline {
    width: auto;
  }

  .userInformationTimeline {
    min-height: 80px;
    width: auto;
  }
}

@media (min-device-width: 600px) and (max-device-width: 768px) {
  .userTimelineContainer {
    display: block;
  }

  .rightTimeline {
    width: auto;
    margin: 20px;
  }

  .postTextField {
    width: 92%;
    height: 50px;
  }

  .userPostsTimeline {
    width: auto;
  }

  .userInformationTimeline {
    min-height: 80px;
    width: auto;
  }
}

@media (min-device-width: 1025px) and (max-device-width: 1320px) {
  .userTimelineContainer {
    display: block;
  }

  .rightTimeline {
    width: auto;
    margin: 20px;
  }

  .postTextField {
    width: 92%;
    height: 50px;
  }

  .userPostsTimeline {
    width: auto;
  }

  .userInformationTimeline {
    min-height: 80px;
    width: auto;
  }
}
